 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1459px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  width: 841px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 2.25rem;
  margin: 87px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 87px 781px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 586px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-1 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  margin: 38px auto 0 30px;
  padding: 11px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 17px 31px 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-2 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  margin: 38px auto 0 30px;
  padding: 11px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 30px 0;
}

.u-section-1 .u-text-6 {
  margin: 17px 31px 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-3 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  margin: 38px auto 0 30px;
  padding: 11px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 30px 0;
}

.u-section-1 .u-text-8 {
  margin: 17px 31px 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-4 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  margin: 38px auto 0 30px;
  padding: 11px;
}

.u-section-1 .u-text-9 {
  letter-spacing: 0px;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 30px 0;
}

.u-section-1 .u-text-10 {
  margin: 17px 31px 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-5 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-5 {
  height: 78px;
  width: 78px;
  margin: 38px auto 0 30px;
  padding: 11px;
}

.u-section-1 .u-text-11 {
  letter-spacing: 0px;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 30px 0;
}

.u-section-1 .u-text-12 {
  margin: 17px 31px 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-6 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-6 {
  height: 78px;
  width: 78px;
  margin: 38px auto 0 30px;
  padding: 11px;
}

.u-section-1 .u-text-13 {
  letter-spacing: 0px;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 30px 0;
}

.u-section-1 .u-text-14 {
  margin: 17px 31px 0;
}

.u-section-1 .u-list-2 {
  width: 359px;
  margin: 30px auto 60px 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 278px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-7 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-7 {
  height: 78px;
  width: 78px;
  margin: 38px auto 0 30px;
  padding: 11px;
}

.u-section-1 .u-text-15 {
  letter-spacing: 0px;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 30px 0;
}

.u-section-1 .u-text-16 {
  margin: 17px 31px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: 581px;
    width: 841px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 134px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 483px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 588px;
    margin-right: 361px;
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -445px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 832px;
  }

  .u-section-1 .u-list-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1707px;
    margin-right: 181px;
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1564px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1589px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 11px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 12px;
  }
}